[submodule "nirs4all-aom"]
	path = nirs4all-aom
	url = git@github.com:GBeurier/nirs4all-aom.git
	branch = main
[submodule "dag-ml"]
	path = dag-ml
	url = git@github.com:GBeurier/dag-ml.git
	branch = main
[submodule "dag-ml-data"]
	path = dag-ml-data
	url = git@github.com:GBeurier/dag-ml-data.git
	branch = main
[submodule "nirs4all-arena"]
	path = nirs4all-arena
	url = git@github.com:GBeurier/nirs4all-arena.git
	branch = main
[submodule "nirs4all"]
	path = nirs4all
	url = git@github.com:GBeurier/nirs4all.git
	branch = main
[submodule "nirs4all-studio"]
	path = nirs4all-studio
	url = git@github.com:GBeurier/nirs4all-studio.git
	branch = master
[submodule "nirs4all-webpage"]
	path = nirs4all-webpage
	url = git@github.com:GBeurier/nirs4all-webpage.git
	branch = main
[submodule "nirs4all-lab"]
	path = nirs4all-lab
	url = git@github.com:GBeurier/nirs4all-lab.git
	branch = main
[submodule "nirs4all-formats"]
	path = nirs4all-formats
	url = git@github.com:GBeurier/nirs4all-formats.git
	branch = main
[submodule "nirs4all-io"]
	path = nirs4all-io
	url = git@github.com:GBeurier/nirs4all-io.git
	branch = main
[submodule "nirs4all-methods"]
	path = nirs4all-methods
	url = git@github.com:GBeurier/nirs4all-methods.git
	branch = main
[submodule "nirs4all-datasets"]
	path = nirs4all-datasets
	url = git@github.com:GBeurier/nirs4all-datasets.git
	branch = main
